<a href="https://colab.research.google.com/github/hubblej28/curso_python_utec/blob/main/Laboratorios/%5B4%5D_Programa_Python_UTEC_Sesion05_Diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Diccionarios

A partir de un resultado de una libreria

In [ ]:
texto = "David"

In [ ]:
from collections import Counter

frecuencia = Counter(texto)

d_frecuencia = dict(frecuencia)

In [ ]:
print(f"El diccionario d_frecuencia es \n{d_frecuencia}")
print(f"El tipo de objeto es {type(d_frecuencia)}")

El diccionario d_frecuencia es
{'D': 1, 'a': 1, 'v': 1, 'i': 1, 'd': 1}
El tipo de objeto es <class 'dict'>

In [ ]:
print(f"La clave U del Diccionario es {d_frecuencia['U']}")

KeyError: 'U'

A partir del uso de la librería pandas

In [ ]:
import pandas as pd

df = pd.read_csv("clientes.csv", sep=";")

In [ ]:
print(f"El objeto es del tipo {type(df)}")

El objeto es del tipo <class 'pandas.core.frame.DataFrame'>

In [ ]:
df

    ID  EDAD  INGRESOS RIESGO  LINEA_TC
0  123    36      1348      A     49924
1  234    52      9479      A     28454
2  345    60      7511      B     14250
3  456    40      7992      C     32064
4  567    58      2675      C      1485
5  678    47      7086      D     29157
6  789    31      4704      E     14945
7  999    42      6245      E      8798

In [ ]:
d_df = df.to_dict()

In [ ]:
print(f"El valor de la clave EDAD del diccionario es {d_df['EDAD']}")

El valor de la clave EDAD del diccionario es {0: 36, 1: 52, 2: 60, 3: 40, 4: 58, 5: 47, 6: 31, 7: 42}

In [ ]:
print(f"El tipo de clave Edad del diccionario es {type(d_df['EDAD'])}")

El tipo de clave Edad del diccionario es <class 'dict'>

In [ ]:
d_df['EDAD'][2]

60

In [ ]:
dic1 = d_df['EDAD']
dic1[2]

60

In [ ]:
dc_0 = {} #diccionario vacío
print(f"El tipo de objeto dc_0 es: {type(dc_0)}")

El tipo de objeto dc_0 es: <class 'dict'>

Diccionario homogéneo: con claves (caracteres) y valores (enteros)

In [ ]:
dc_1 = {
    "a":1,
    "b":2,
    "c":3
}

print(f"El objeto es {dc_1}")
print(f"El tipo de objeto es {type(dc_1)}")

El objeto es {'a': 1, 'b': 2, 'c': 3}
El tipo de objeto es <class 'dict'>

Diccionario heterogéneo: con claves (caracteres) y valores (distinto tipo)

In [ ]:
dc_2 = {
    "a":{"x":100},
    "b":[10,20,30],
    "c":(1,2,3,4,5)
}

print(dc_2["a"]["x"])

100

¿Los diccionarios pueden tener claves repetidas?

In [ ]:
dc_3 = {
    "a":100,
    "b":200,
    "a":300
}

print(f"El diccionario es {dc_3}")

El diccionario es {'a': 300, 'b': 200}

In [ ]:
dic_info = {
    "nombre":"Juan",
    "apellido":"Díaz",
    "edad": 28,
    "profesión":"ingeniero"
}

In [ ]:
dc_5 = {
    1:100,
    "b":200,
    "David":"instructor"
}

print(f"El diccionario es {dc_5}")
print(f"El tipo del diccionario es {type(dc_5)}")

El diccionario es {1: 100, 'b': 200, 'David': 'instructor'}
El tipo del diccionario es <class 'dict'>

In [ ]:
dc_6 = {
    "david":1,
    "juan":2,
    "pedro":3
}
print(f"El diccionario es {dc_6}")
print(f"El tipo del diccionario es {type(dc_6)}")

El diccionario es {'david': 1, 'juan': 2, 'pedro': 3}
El tipo del diccionario es <class 'dict'>

In [ ]:
dict_super = {
    "item":["agua", "menestras", "azúcar", "carne", "manzanas"],
    "cantidad":[2, 4, 3, 4, 7],
    "precio":[20, 10, 10, 30, 7]
}

print(f"El diccionario de mis compras en el supermercado es:\n{dict_super}")
print(f"El tipo de objeto es:\n{type(dict_super)}")

manz = dict_super['item'].index("manzanas")
print(f"El precio de las manzanas es: {dict_super['precio'][manz]}")

El diccionario de mis compras en el supermercado es:
{'item': ['agua', 'menestras', 'azúcar', 'carne', 'manzanas'], 'cantidad': [2, 4, 3, 4, 7], 'precio': [20, 10, 10, 30, 7]}
El tipo de objeto es:
<class 'dict'>
El precio de las manzanas es: 7

Método items()

In [ ]:
dc_1

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
dc_1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
type(dc_1.items())

dict_items

In [ ]:
for c,v in dc_1.items():
  print(f"La clave {c} tiene el valor {v}.")

La clave a tiene el valor 1.
La clave b tiene el valor 2.
La clave c tiene el valor 3.

In [ ]:
dc_3

{'a': 300, 'b': 200}

In [ ]:
dc_3.items()

dict_items([('a', 300), ('b', 200)])

In [ ]:
l_dc_3 = list(dc_3.items())

In [ ]:
l_dc_3

[('a', 300), ('b', 200)]

In [ ]:
for c,v in l_dc_3:
   print(f"La clave {c} tiene el valor {v}.")

La clave a tiene el valor 300.
La clave b tiene el valor 200.

Cómo eliminar los elementos de un diccionario

In [ ]:
print(f"El diccionario es {dic_info}")

El diccionario es {'nombre': 'Juan', 'apellido': 'Díaz', 'edad': 28, 'profesión': 'ingeniero'}

In [ ]:
#El método .clear() permite eliminar todos los pares clave:valor del diccionario
dic_info.clear()
print(f"El diccionario es {dic_info}")

El diccionario es {}

Copia de un diccionario

In [ ]:
original = {
    "nombre": "Juan",
    "hobbies": ["lectura", "ciclismo", "música"]
}
print(f"El diccionario es {original}")

El diccionario es {'nombre': 'Juan', 'hobbies': ['lectura', 'ciclismo', 'música']}

Crear una copia simple

In [ ]:
copia_s = original.copy()
print(f"El diccionario es {copia_s}")
print(f"El tipo es {type(copia_s)}")

El diccionario es {'nombre': 'Juan', 'hobbies': ['lectura', 'ciclismo', 'música']}
El tipo es <class 'dict'>

Crear una copia profunda

In [ ]:
import copy

copia_p = copy.deepcopy(original)
print(f"El diccionario es {copia_p}")
print(f"El tipo es {type(copia_p)}")

El diccionario es {'nombre': 'Juan', 'hobbies': ['lectura', 'ciclismo', 'música']}
El tipo es <class 'dict'>

In [ ]:
copia_s['hobbies']

['lectura', 'ciclismo', 'música']

In [ ]:
type(copia_s['hobbies'])

list

In [ ]:
copia_s['hobbies'].append('caminata')
print(f"El diccionario actualizado es {copia_s}")

El diccionario actualizado es {'nombre': 'Juan', 'hobbies': ['lectura', 'ciclismo', 'música', 'caminata']}

In [ ]:
copia_p['hobbies'].append('natación')
print(f"El diccionario actualizado es {copia_p}")

El diccionario actualizado es {'nombre': 'Juan', 'hobbies': ['lectura', 'ciclismo', 'música', 'natación']}

In [ ]:
# La copia simple afecta a la lista original
print(f"El diccionario actualizado es {original}")

El diccionario actualizado es {'nombre': 'Juan', 'hobbies': ['lectura', 'ciclismo', 'música', 'caminata']}

Actividad N031

In [ ]:
print(f"El diccionario con mi info personal es\n{dic_info}")
dic_info_copy = dic_info.copy()
dic_info_copy['profesión'] = 'arqueólogo'

print(f"El diccionario con mi info personal modificado es\n{dic_info_copy}")

El diccionario con mi info personal es
{'nombre': 'Juan', 'apellido': 'Díaz', 'edad': 28, 'profesión': 'ingeniero'}
El diccionario con mi info personal modificado es
{'nombre': 'Juan', 'apellido': 'Díaz', 'edad': 28, 'profesión': 'arqueólogo'}

Método keys()

In [ ]:
dic_prod = {
    "detergente":70,
    "arroz":20,
    "aceite":10
}

print(f"El diccionario es {dic_prod}")

El diccionario es {'detergente': 70, 'arroz': 20, 'aceite': 10}

In [ ]:
dic_prod.items()

dict_items([('detergente', 70), ('arroz', 20), ('aceite', 10)])

In [ ]:
dic_prod.keys()

dict_keys(['detergente', 'arroz', 'aceite'])

In [ ]:
x = 1
for i in dic_prod.keys():
  print(f"La clave {x} es {i}.")
  x = x + 1

La clave 1 es detergente.
La clave 2 es arroz.
La clave 3 es aceite.

In [ ]:
prod = 'menestra'
if prod in dic_prod.keys():
  print(f"El producto {prod} está incluido en el diccionario.")
else:
  print(f"El producto {prod} no está incluido en el diccionario.")

El producto menestra no está incluido en el diccionario.

In [ ]:
dic_prod["cereal"] = 20 # actualizando diccionario

print(f"El diccionario actualizado es {dic_prod}")

El diccionario actualizado es {'detergente': 70, 'arroz': 20, 'aceite': 10, 'cereal': 20}

In [ ]:
x = 1
for i in dic_prod.keys():
  print(f"La clave {x} es {i}.")
  x = x + 1

La clave 1 es detergente.
La clave 2 es arroz.
La clave 3 es aceite.
La clave 4 es cereal.

Método values()

In [ ]:
dic_prod.values()

dict_values([70, 20, 10, 20])

Crear un diccionario con la info de 5 deportistas, clave es nombre del deportista y el valor el deporte que practica.
Acceder a los pares clave valor.
Acceder a las claves.
Acceder a los valores.

In [ ]:
deportistas = {
    "Nate Hills" : "ciclismo de montaña",
    "Leo Messi" : "fútbol",
    "Rafael Nadal": "tenis",
    "Kilian Bron": "freeride",
    "Marcelo Gutierrez": "downhill"
}

for c,v in deportistas.items():
  print(f"El deportista {c} es reconocido en {v}.")
print("\n")
print("La lista de deportistas que conozco son:")
for i in deportistas.keys():
  print(f"{i}")
print("\n")
print("La lista de deportes de mi preferencia es:")
for i in deportistas.values():
  print(f"{i}")

El deportista Nate Hills es reconocido en ciclismo de montaña.
El deportista Leo Messi es reconocido en fútbol.
El deportista Rafael Nadal es reconocido en tenis.
El deportista Kilian Bron es reconocido en freeride.
El deportista Marcelo Gutierrez es reconocido en downhill.


La lista de deportistas que conozco son:
Nate Hills
Leo Messi
Rafael Nadal
Kilian Bron
Marcelo Gutierrez


La lista de deportes de mi preferencia es:
ciclismo de montaña
fútbol
tenis
freeride
downhill

Actividad 032

In [6]:
dic_minas = {
    "Mina":["Escondida", "Grasberg", "Collahuasi", "Antamina", "Cerro Verde", "Las Bambas"],
    "País":("Chile","Indonesia","Chile","Perú","Perú","Perú"),
    "Producción anual":("1,281,400 t (2023)", "816,466 t (2023)", "563,390 t (2023)","434,238 t (2024)", "449,096 t (2024)","~400,000 t (2021)")

}

In [7]:
dic_minas["Mina"]

['Escondida',
 'Grasberg',
 'Collahuasi',
 'Antamina',
 'Cerro Verde',
 'Las Bambas']

In [8]:
len(dic_minas["Mina"])

6

In [9]:
for i in range(len(dic_minas["Mina"])):
  m = dic_minas["Mina"][i]
  p = dic_minas["País"][i]
  pr = dic_minas["Producción anual"][i]
  print(m, "|", p, "|", pr)

Escondida | Chile | 1,281,400 t (2023)
Grasberg | Indonesia | 816,466 t (2023)
Collahuasi | Chile | 563,390 t (2023)
Antamina | Perú | 434,238 t (2024)
Cerro Verde | Perú | 449,096 t (2024)
Las Bambas | Perú | ~400,000 t (2021)

In [10]:
notas_estudiantes = {
    "Ana":[18,16,19],
    "Luis":[12,13,11],
    "Carla":[14,15,14]
}

In [12]:
for c,v in notas_estudiantes.items():
  promedio = sum(v)/len(v)
  print(f"El promedio de notas de {c} es {round(promedio,2)}")

El promedio de notas de Ana es 17.67
El promedio de notas de Luis es 12.0
El promedio de notas de Carla es 14.33