<a href="https://colab.research.google.com/github/hubblej28/curso_python_utec/blob/main/Laboratorios/Clase%20def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
saldo = 100
while True:
  retiro = int(input("Retiro (0 para salir):"))
  saldo -= retiro
  if saldo <= 0:
    break
  print("Fin. Saldo:", saldo)

print("Saldo insuficiente")

Retiro (0 para salir):0
Fin. Saldo: 100
Retiro (0 para salir):60
Fin. Saldo: 40
Retiro (0 para salir):90
Saldo insuficiente

In [6]:
def sumar_todos(*args):
    return sum(args)

print(sumar_todos(1,2,5))

8

In [7]:
#lista que contiene tuplas
clientes = [(1500, 700), (1800, 2000), (3000, 100)]

Un **kwarg guarda diccionarios y sus valores

In [8]:
def mostrar_info(**kwargs):
  for clave, valor in kwargs.items():
      print(f"{clave}:{valor}")

mostrar_info(nombre="Alberto", edad = 31, deporte = "running")

nombre:Alberto
edad:31
deporte:running

In [11]:
def mostrar_info2(**kwargs):
    return[f"{clave}:{valor}" for clave, valor in kwargs.items()]
mostrar_info2(nombre="Alberto", edad = 31, deporte = "running")

['nombre:Alberto', 'edad:31', 'deporte:running']

In [13]:
def funcion_mixta(*args, **kwargs):
    print("Posicionales:", args)
    print("Nombrados:", kwargs)

funcion_mixta(10, 20, 30, nombre="Moni", deporte="tennis")

Posicionales: (10, 20, 30)
Nombrados: {'nombre': 'Moni', 'deporte': 'tennis'}

In [17]:
mensual = float(input("Ingrese ingreso mensual: "))
def ingreso_anual(mensual):
    return(mensual*12)
print ("Ingreso anual: ", ingreso_anual(mensual))

Ingrese ingreso mensual: 10
Ingreso anual:  120.0

In [31]:
def cpc(gasto, clics):
    if clics == 0:
      print("0")
    else:
      print(cpc)
    return(gasto/clics)

In [33]:
cpc(100, 2)

<function cpc at 0x7f1703a6e8e0>

50.0

In [52]:
def concat_ws(sep, *palabras):
    return(sep.join(palabras))
concat_ws("Hola", "soy", "Juan")

'soyHolaJuan'

In [55]:
def a(**opciones):
    return(opciones)

a(nombre = "Juan", apellido = "Díaz", profesion = "Ingeniero")

{'nombre': 'Juan', 'apellido': 'Díaz', 'profesion': 'Ingeniero'}