<a href="https://colab.research.google.com/github/hubblej28/curso_python_utec/blob/main/Laboratorios/Clase6_Estructuras_de_control_Repetitivas_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

In [ ]:
ingresos = [ 10000, 20000, 35000, 5600 ]

In [ ]:
ingresos.append(100000)

In [ ]:
ingresos

[10000, 20000, 35000, 5600, 100000]

In [ ]:
datos = ["Angelica", 27, "Casada",2500 ]

In [ ]:
type(datos)

list

In [ ]:
datos[3]

2500

In [ ]:
datos[3] = 3000

In [ ]:
datos

['Angelica', 27, 'Casada', 3000]

In [ ]:
datos.append("Treinta y cinco")

In [ ]:
datos.append("nueva campaña")

In [ ]:
campaña = 1

In [ ]:
nueva_campaña = 3

In [ ]:
datos.remove(3000)

ValueError: list.remove(x): x not in list

In [ ]:
datos.remove("divorciada")

ValueError: list.remove(x): x not in list

In [ ]:
len(datos)

3

In [ ]:
tasas = [ 0.1, 0.15, 0.11, 0.1, 0.23, 0.2,0.1, 0.1,0.2,0.1,0.15,0.1]
tasas.count(0.1)

6

In [ ]:
alumno = {"nombre": "Eduardo", "edad": 27}

In [ ]:
type(alumno)

dict

In [ ]:
alumno[0]

KeyError: 0

In [ ]:
datos_credito = {"Cliente": "Luis", "Detalle": {"Monto": 5000, "Plazo":12, "Tasa":0.22}}

In [ ]:
datos_credito

{'Cliente': 'Luis', 'Detalle': {'Monto': 5000, 'Plazo': 12, 'Tasa': 0.22}}

In [ ]:
range(5)

range(0, 5)

In [ ]:
range(2,6)

range(2, 6)

In [ ]:
range(0,10,2)

range(0, 10, 2)

In [ ]:
range(10,2)

range(10, 2)

In [ ]:
range(10,2,-1)

range(10, 2, -1)

In [ ]:
datos

['Angelica', 27, 'Casada', 'Treinta y cinco', 'nueva campaña']

In [ ]:
datos[1] = 28

In [ ]:
datos

['Angelica', 28, 'Casada', 'Treinta y cinco', 'nueva campaña']

# Diccionarios

In [ ]:
cliente = {
    "nombre": "Ana",
    "edad": 35,
    "ingreso": 4500,
    "morosidades": 0
}
print(cliente["ingreso"])  # Acceder al ingreso del cliente

4500

In [ ]:
cliente = {
    "nombre": "Ana",
    "edad": 35,
    "ingreso": 4500,
    "morosidades": 0
}
print(cliente["ingreso"])
print(cliente["nombre"])
print(cliente["edad"])

4500
Ana
35

In [ ]:
print(cliente["nombre"])

Ana

In [ ]:
cliente["edad"]

35

In [ ]:
nuevo_cliente = {}
nuevo_cliente["nombre"] = "Luis"
nuevo_cliente["ingreso"] = 3000

In [ ]:
cliente

{'nombre': 'Ana', 'edad': 35, 'ingreso': 4500, 'morosidades': 0}

**Cómo acceder a valores:**

Usando la clave: diccionario["clave"]

**Añadir nuevo par clave-valor:**

In [ ]:
cliente["tipo_credito"] = "Hipotecario"

In [ ]:
print(cliente)

{'nombre': 'Ana', 'edad': 35, 'ingreso': 4500, 'morosidades': 0, 'tipo_credito': 'Hipotecario'}

In [ ]:
cliente

{'nombre': 'Ana',
 'edad': 35,
 'ingreso': 4500,
 'morosidades': 0,
 'tipo_credito': 'Hipotecario'}

**Empezar con un diccionario vacío:**

In [ ]:
nuevo_cliente = {}

In [ ]:
nuevo_cliente["nombre"] = "Luis"
nuevo_cliente["ingreso"] = 3000

In [ ]:
nuevo_cliente

{'nombre': 'Luis', 'ingreso': 3000}

**Modificar valores:**

In [ ]:
nuevo_cliente["ingreso"] = 5000

In [ ]:
nuevo_cliente

{'nombre': 'Luis', 'ingreso': 5000}

In [ ]:
del nuevo_cliente["nombre"]

In [ ]:
nuevo_cliente

{'ingreso': 5000}

**Eliminar pares clave-valor:**

In [ ]:
clientes = {
    "001": {"nombre": "Ana", "ingreso": 4000},
    "002": {"nombre": "Luis", "ingreso": 3000}
}

In [ ]:
animales = {
  "001": {"nombre": "Elefante", "patas": 4},
  "002": {"nombre": "Buitre", "patas": 2}.
  "003": {"nombre": "Cocodrilo", "patas": 4}}

In [ ]:
dicFamiliar1={}
dicFamiliar1["nombre"]="Renato"
dicFamiliar1["edad"]=33
dicFamiliar1["genero"]="M"
dicFamiliar2={}
dicFamiliar2["nombre"]="Malu"
dicFamiliar2["edad"]=35
dicFamiliar2["genero"]="F"
dicFamiliares={
    "1":dicFamiliar1,
    "2":dicFamiliar2
}
print(dicFamiliares)

{'1': {'nombre': 'Renato', 'edad': 33, 'genero': 'M'}, '2': {'nombre': 'Malu', 'edad': 35, 'genero': 'F'}}

In [ ]:
dicFamiliares['1']['edad']= 30

In [ ]:
dicFamiliares['2']['ingreso']= 2400
dicFamiliares

{'1': {'nombre': 'Renato', 'edad': 30, 'genero': 'M'},
 '2': {'nombre': 'Malu', 'edad': 35, 'genero': 'F', 'ingreso': 2400}}

In [ ]:
dicFamiliares

{'2': {'nombre': 'Malu', 'edad': 35, 'genero': 'F', 'ingreso': 2400}}

In [ ]:
del dicFamiliares['1']

In [ ]:
clientes

{'001': {'nombre': 'Ana', 'ingreso': 4000},
 '002': {'nombre': 'Luis', 'ingreso': 3000}}

**Ejercicio 1:**

Crea un diccionario para un producto financiero con claves como nombre, tasa de interés y tipo. Luego accede a la tasa de interés y modifícala.

**Ejercicio 2:**

Crea un diccionario de 3 clientes con su nombre e ingresos. Agrega un nuevo cliente. Luego, elimina uno de los existentes.

**Ejercicio3:**

Crea un diccionario para la campaña Black friday que tiene 1200 clics, 45 conversiones y un costo de 600 dólares

**Ejercicio 4:**

Crea un diccionario de una solicitud de crédito para Pedro con 6000 de ingreso, una deuda de 2000 soles y un buen historial

In [ ]:
turnos = [100, 120, 110, 130, 150]

for i in range(len(turnos)):
    print("Turno", i+1, "→ Producción:", turnos[i])

Turno 1 → Producción: 100
Turno 2 → Producción: 120
Turno 3 → Producción: 110
Turno 4 → Producción: 130
Turno 5 → Producción: 150

# 2. For en Python

**Sintaxis básica:**

In [ ]:
clientes = ["Ana", "Luis", "Sofía"]
clientes

['Ana', 'Luis', 'Sofía']

In [ ]:
for y in clientes:
    print(y)

Ana
Luis
Sofía

In [ ]:
y

'Sofía'

In [ ]:
lista_clientes[0]

'Ana'

**¿Por qué es repetitiva?**

Porque ejecuta el mismo bloque de código por cada elemento en la secuencia.

In [ ]:
ingresos = [1000, 2000, 3000, 2000, 1500, 2300, 2345]
for x in ingresos:
    print("Ingreso anual:", x * 12)

Ingreso anual: 12000
Ingreso anual: 24000
Ingreso anual: 36000
Ingreso anual: 24000
Ingreso anual: 18000
Ingreso anual: 27600
Ingreso anual: 28140

Usar la estructura FOR para calcular el ingreso anual (ingreso *12) sin mostrar el cálculo, finalmente mostrar la lista completa

In [ ]:
ingresos

[1000, 2000, 3000, 2000, 1500, 2300, 2345]

In [ ]:
for ingreso in ingresos:
    ingreso_anual = ingreso * 12

ingresos

[1000, 2000, 3000, 2000, 1500, 2300, 2345]

In [ ]:
for ingreso in ingresos:
    ingreso * 12
    print(ingreso)

1000
2000
3000
2000
1500
2300
2345

In [ ]:
for ingreso in ingresos:
    ingresos[0] = ingreso * 12

ingresos

[28140, 2000, 3000, 2000, 1500, 2300, 2345]

Ejemplo 2: Recorrer un diccionario de clientes

In [ ]:
for id_cliente in clientes:
    print("ID:", id_cliente, "Ingreso:", clientes[id_cliente]["ingreso"])

In [ ]:
cliente = {
    "nombre": "Ana",
    "edad": 35,
    "ingreso": 4500,
    "morosidades": 0
}

In [ ]:
for x in cliente:
    print(x)

nombre
edad
ingreso
morosidades

In [ ]:
for x in cliente:
    print(cliente[x])

Ana
35
4500
0

Ejemplo 3: Contar cuántos clientes tienen ingreso > 3000

In [ ]:
contador = 0
for cliente in clientes.values():
    if cliente["ingreso"] > 3000:
        contador += 1
print("Clientes con alto ingreso:", contador)

Ejemplo 4: Crear una lista con tasas ajustadas

In [ ]:
tasas = [0.05, 0.07, 0.08]
tasas_ajustadas = []
for tasa in tasas:
    tasas_ajustadas.append(tasa + 0.01)
print(tasas_ajustadas)

Ejemplo 5: Reporte de evaluación

In [ ]:
clientes = ["Ana", "Luis", "Sofía"]
for nombre in clientes:
    print(f"Evaluación enviada a {nombre}")

# Ejercicios FOR

1. Usa un for con range para imprimir los números del 1 al 10.

2. Dada la lista clientes = ["Ana", "Luis", "Pedro", "María"], imprime cada nombre con un mensaje:
Cliente: <nombre>

3. Dada la lista ventas = [100, 200, 300, 400], usa un for para calcular la suma total.

4. Usa un for con range para imprimir la tabla del 5 (del 1 al 10).