<a href="https://colab.research.google.com/github/hubblej28/curso_python_utec/blob/main/Laboratorios/Clase_7_Estructuras_Repetitivas_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Calentamiento**

1. Dada la lista [1000, 2500, 4000, 7000], imprime si cada ingreso es "Bajo" (<2000), "Medio" (2000-5000) o "Alto" (>5000).

2. Dada la lista ["pan", "leche", "café", "azúcar"], imprime si "café" está en la lista.

3. De la lista [2500, 4000, 1500, 5000, 3200], cuenta cuántos superan los 3000.

4. Crea una lista que guarde los cuadrados de los números del 1 al 10.

5. Dada una lista de clientes con ingresos, imprime solo los que tienen ingreso > 5000. (Ana: 4500, Sofia: 6000, Marcos: 7800, Adela: 2600, Isra: 8900)

6. Usando for y range, genera un diccionario donde las llaves sean los números del 1 al 5 y los valores sean sus cubos.

7. Dada una lista de ingresos [1200, 2500, 3000, 4500, 5000], calcula el promedio.

8. Un cliente tiene un préstamo de 100,000 a una tasa mensual fija de 1%. Se compromete a pagar 1,200 cada mes.
Usando un for con range, simula los primeros 12 meses y guarda en un diccionario por cada mes:

* Saldo inicial
* Interés del mes
* Pago realizado
* Saldo final

Finalmente, imprime el reporte mes a mes.

interes = saldo * tasa
saldo final = saldo + interes - pago

In [ ]:
saldo = 100000
tasa = 0.01
pago = 1200
reporte = {}

for mes in range(1, 13):
    interes = saldo * tasa
    saldo_f = saldo + interes - pago
    reporte[mes] = { "Saldo inicial" : round(saldo, 2), "Interés": round(interes, 2), "Pago": pago, "Saldo final": round(saldo_f, 2)}
    saldo = saldo_f

print(reporte)

{1: {'Saldo inicial': 100000, 'Interés': 1000.0, 'Pago': 1200, 'Saldo final': 99800.0}, 2: {'Saldo inicial': 99800.0, 'Interés': 998.0, 'Pago': 1200, 'Saldo final': 99598.0}, 3: {'Saldo inicial': 99598.0, 'Interés': 995.98, 'Pago': 1200, 'Saldo final': 99393.98}, 4: {'Saldo inicial': 99393.98, 'Interés': 993.94, 'Pago': 1200, 'Saldo final': 99187.92}, 5: {'Saldo inicial': 99187.92, 'Interés': 991.88, 'Pago': 1200, 'Saldo final': 98979.8}, 6: {'Saldo inicial': 98979.8, 'Interés': 989.8, 'Pago': 1200, 'Saldo final': 98769.6}, 7: {'Saldo inicial': 98769.6, 'Interés': 987.7, 'Pago': 1200, 'Saldo final': 98557.29}, 8: {'Saldo inicial': 98557.29, 'Interés': 985.57, 'Pago': 1200, 'Saldo final': 98342.87}, 9: {'Saldo inicial': 98342.87, 'Interés': 983.43, 'Pago': 1200, 'Saldo final': 98126.29}, 10: {'Saldo inicial': 98126.29, 'Interés': 981.26, 'Pago': 1200, 'Saldo final': 97907.56}, 11: {'Saldo inicial': 97907.56, 'Interés': 979.08, 'Pago': 1200, 'Saldo final': 97686.63}, 12: {'Saldo inicial': 97686.63, 'Interés': 976.87, 'Pago': 1200, 'Saldo final': 97463.5}}

In [ ]:
for mes, datos in reporte.items():
    print(f"Mes {mes}: {datos}")

Mes 1: {'Saldo inicial': 100000, 'Interés': 1000.0, 'Pago': 1200, 'Saldo final': 99800.0}
Mes 2: {'Saldo inicial': 99800.0, 'Interés': 998.0, 'Pago': 1200, 'Saldo final': 99598.0}
Mes 3: {'Saldo inicial': 99598.0, 'Interés': 995.98, 'Pago': 1200, 'Saldo final': 99393.98}
Mes 4: {'Saldo inicial': 99393.98, 'Interés': 993.94, 'Pago': 1200, 'Saldo final': 99187.92}
Mes 5: {'Saldo inicial': 99187.92, 'Interés': 991.88, 'Pago': 1200, 'Saldo final': 98979.8}
Mes 6: {'Saldo inicial': 98979.8, 'Interés': 989.8, 'Pago': 1200, 'Saldo final': 98769.6}
Mes 7: {'Saldo inicial': 98769.6, 'Interés': 987.7, 'Pago': 1200, 'Saldo final': 98557.29}
Mes 8: {'Saldo inicial': 98557.29, 'Interés': 985.57, 'Pago': 1200, 'Saldo final': 98342.87}
Mes 9: {'Saldo inicial': 98342.87, 'Interés': 983.43, 'Pago': 1200, 'Saldo final': 98126.29}
Mes 10: {'Saldo inicial': 98126.29, 'Interés': 981.26, 'Pago': 1200, 'Saldo final': 97907.56}
Mes 11: {'Saldo inicial': 97907.56, 'Interés': 979.08, 'Pago': 1200, 'Saldo final': 97686.63}
Mes 12: {'Saldo inicial': 97686.63, 'Interés': 976.87, 'Pago': 1200, 'Saldo final': 97463.5}

In [ ]:
saldo = 100000
tasa = 0.01
pago = 1200
reporte = {}

for mes in range(1, 13):
    interes = saldo * tasa
    saldo_f = saldo + interes - pago
    reporte[mes] = { "Saldo inicial" : round(saldo, 2), "Interés": round(interes, 2), "Pago": pago, "Saldo final": round(saldo_f, 2)}
    saldo = saldo_f
    print(f"Mes",mes, reporte[mes])

Mes 1 {'Saldo inicial': 100000, 'Interés': 1000.0, 'Pago': 1200, 'Saldo final': 99800.0}
Mes 2 {'Saldo inicial': 99800.0, 'Interés': 998.0, 'Pago': 1200, 'Saldo final': 99598.0}
Mes 3 {'Saldo inicial': 99598.0, 'Interés': 995.98, 'Pago': 1200, 'Saldo final': 99393.98}
Mes 4 {'Saldo inicial': 99393.98, 'Interés': 993.94, 'Pago': 1200, 'Saldo final': 99187.92}
Mes 5 {'Saldo inicial': 99187.92, 'Interés': 991.88, 'Pago': 1200, 'Saldo final': 98979.8}
Mes 6 {'Saldo inicial': 98979.8, 'Interés': 989.8, 'Pago': 1200, 'Saldo final': 98769.6}
Mes 7 {'Saldo inicial': 98769.6, 'Interés': 987.7, 'Pago': 1200, 'Saldo final': 98557.29}
Mes 8 {'Saldo inicial': 98557.29, 'Interés': 985.57, 'Pago': 1200, 'Saldo final': 98342.87}
Mes 9 {'Saldo inicial': 98342.87, 'Interés': 983.43, 'Pago': 1200, 'Saldo final': 98126.29}
Mes 10 {'Saldo inicial': 98126.29, 'Interés': 981.26, 'Pago': 1200, 'Saldo final': 97907.56}
Mes 11 {'Saldo inicial': 97907.56, 'Interés': 979.08, 'Pago': 1200, 'Saldo final': 97686.63}
Mes 12 {'Saldo inicial': 97686.63, 'Interés': 976.87, 'Pago': 1200, 'Saldo final': 97463.5}

In [ ]:
data = [(1, "Luisa", 5000),(2, "Piero", 7000), (3, "Ale", 1000)]

In [ ]:
for x,y,z in data:
    print(x,y)

1 Luisa
2 Piero
3 Ale

In [ ]:
for x,y in data:
    print(x,y)

In [ ]:
for x,y,z,w in data:
    print(x,y,z)

In [ ]:
tasas = [0.05, 0.07, 0.08]
tasas_ajustadas = []
for y in tasas:
    tasas_ajustadas.append(round(y + 0.01, 2))

print(tasas_ajustadas)

[0.06, 0.08, 0.09]

In [ ]:
tasas = [0.05, 0.07, 0.08]
tasas_ajustadas = []
for y in tasas:
    tasas_ajustadas.append(round(y, 2)+ 0.01)

print(tasas_ajustadas)

[0.060000000000000005, 0.08, 0.09]

**Desafío por puntos**

**Proyecto 1:**
Evaluador de Créditos en Lote
* Descripción: Un banco quiere procesar varias solicitudes de crédito.
* Entrada: Lista de diccionarios con nombre, ingreso, score, deudas.
* Proceso:
    * Aprobar si ingreso ≥ 5000, score ≥ 700, deuda ≤ 40% ingreso.
    * Asignar tasa 8% si premium y >5000, caso contrario 12%.
    
*Salida: Imprimir resultado de aprobación + tasa de cada cliente.

**Proyecto 2:** Simulador de Marketing Digital
* Descripción: Evaluar el rendimiento de campañas de anuncios.
* Entrada: Diccionario con clics, impresiones, conversiones, presupuesto.
* Proceso:
     *  Calcular CTR (clics/impresiones) y tasa de conversión.
     *  Si CTR < 1% → campaña "mala", 1%-3% "regular", >3% "buena".
     *  Usar un for para recorrer campañas y clasificar.
     
* Salida: Reporte con clasificación de cada campaña.