<a href="https://colab.research.google.com/github/hubblej28/curso_python_utec/blob/main/Laboratorios/Mod2_Clase1_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[1] Ejemplos de resultados en Python (listas)

In [ ]:
[1.1]

import libreria ##Despues de la palabra import viene una libreria
libreria.funcion ##Despues de una libreria viene una funcion

In [ ]:
import re

In [ ]:
texto = "Mi correo personal es juan.diazv2810@gmail.com y mi correo corporativo es jdv@bilingualglobal.com"
print(texto)

Mi correo personal es juan.diazv2810@gmail.com y mi correo corporativo es jdv@bilingualglobal.com

In [ ]:
correos = re.findall(r'\S+@\S+',texto)
print(correos)
type(correos)

['juan.diazv2810@gmail.com', 'jdv@bilingualglobal.com']

list

[1.2] Usos de listas

In [ ]:
import sys
sys.path

['/content',
 '/env/python',
 '/usr/lib/python312.zip',
 '/usr/lib/python3.12',
 '/usr/lib/python3.12/lib-dynload',
 '',
 '/usr/local/lib/python3.12/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.12/dist-packages/IPython/extensions',
 '/root/.ipython']

[1.3] Dataframes

In [ ]:
import pandas as pd
df = pd.read_csv("/content/clientes.csv", sep = ";")
print(df)

    ID  EDAD  INGRESOS RIESGO  LINEA_TC
0  123    36      1348      A     49924
1  234    52      9479      A     28454
2  345    60      7511      B     14250
3  456    40      7992      C     32064
4  567    58      2675      C      1485
5  678    47      7086      D     29157
6  789    31      4704      E     14945
7  999    42      6245      E      8798

In [ ]:
variables = df.columns.to_list()
variables

['ID', 'EDAD', 'INGRESOS', 'RIESGO', 'LINEA_TC']

Actividad N001

In [10]:
lugares = ['Florencia', 'Roma', 'Huaraz', 'Cusco', 'Buenos Aires']
print(f"Mis lugares favoritos para vacacionar son \n{lugares}")

Mis lugares favoritos para vacacionar son
['Florencia', 'Roma', 'Huaraz', 'Cusco', 'Buenos Aires']

In [ ]:
## Una lista homogenea es la que tiene todos sus elementos con el mismo tipo.

Actividad N002

In [ ]:
nombre = 'Juan'
apellido_paterno = 'Díaz'
profesion = "Ingeniero Civil"
edad = 28
centro_laboral = "Bilingual"
años_experiencia = 3

info_personal = [nombre, apellido_paterno, profesion, edad, centro_laboral, años_experiencia]
print(f"Mi lista de información personal es: \n{info_personal}")
type(info_personal)

Mi lista de información personal es:
['Juan', 'Díaz', 'Ingeniero Civil', 28, 'Bilingual', 3]

list

In [ ]:
materias = ['álgebra', 'aritmética', 'razonamiento verbal', 'trigonometría', 'geometría']
materias[3]

'trigonometría'

In [ ]:
lugares[3]

'Cusco'

Actividad N003

In [ ]:
print(f"De mis cinco lugares favoritos el que ocupa el puesto 3 es {lugares[2]}")

De mis cinco lugares favoritos el que ocupa el puesto 3 es Huaraz

In [ ]:
print(f"De mis cinco lugares favoritos el que ocupa el puesto 5 es {lugares[-1].upper()}")

De mis cinco lugares favoritos el que ocupa el puesto 5 es BUENOS AIRES

In [ ]:
type(lugares[-1])

str

Actividad N004

In [ ]:
print(f"Hola, me llamo {info_personal[0]} {info_personal[1]} soy {info_personal[2]}, tengo {info_personal[3]} años, trabajo en la empresa {info_personal[4]} y tengo {info_personal[5]} años de experiencia profesional.")

Hola, me llamo Juan Díaz soy Ingeniero Civil, tengo 28 años, trabajo en la empresa Bilingual y tengo 3 años de experiencia profesional.

Actividad N005

In [ ]:
marcas = ['Yeti','Santa Cruz','Pivot','Commencal','Ibis']
print(f"La lista marcas es: \n{marcas}")
print(f"El ultimo elemento de la lista marcas es: \n{marcas[-1]}")
marcas.append('Devinci')
print(f"La nueva lista marcas es: \n{marcas}")

La lista marcas es:
['Yeti', 'Santa Cruz', 'Pivot', 'Commencal', 'Ibis']
El ultimo elemento de la lista marcas es:
Ibis
La nueva lista marcas es:
['Yeti', 'Santa Cruz', 'Pivot', 'Commencal', 'Ibis', 'Devinci']

In [ ]:
marcas = []
for i in range(5):
  ingreso_marcas = str(input(f"Ingrese la marca # {i+1}: "))
  marcas.append(ingreso_marcas)
print(marcas)
marcas[-2] = ""

Ingrese la marca # 1: aaaa
Ingrese la marca # 2: bbbb
Ingrese la marca # 3: cccc
Ingrese la marca # 4: dddd
Ingrese la marca # 5: eeee
['aaaa', 'bbbb', 'cccc', 'dddd', 'eeee']

Actividad N006

In [ ]:
print(f"Mi lista de información personal es: \n{info_personal}")
info_personal[4] = "Yeti Cycles"
print(f"Mi lista actualizada de información personal es: \n{info_personal}")

Mi lista de información personal es:
['Juan', 'Díaz', 'Ingeniero Civil', 28, 'Bilingual', 3]
Mi lista actualizada de información personal es:
['Juan', 'Díaz', 'Ingeniero Civil', 28, 'Yeti Cycles', 3]

Actividad N008

In [ ]:
## método .insert()

info_personal.insert(3,"Universidad Ricardo Palma")
print(info_personal)
print(f"Hola, me llamo {info_personal[0]} {info_personal[1]} soy {info_personal[2]}, estudie en la {info_personal[3]}, tengo {info_personal[4]} años, trabajo en la empresa {info_personal[5]} y tengo {info_personal[6]} años de experiencia profesional.")

['Juan', 'Díaz', 'Ingeniero Civil', 'Universidad Ricardo Palma', 28, 'Yeti Cycles', 3]
Hola, me llamo Juan Díaz soy Ingeniero Civil, estudie en la Universidad Ricardo Palma, tengo 28 años, trabajo en la empresa Yeti Cycles y tengo 3 años de experiencia profesional.

In [ ]:
del materias[3]
print (materias)

['álgebra', 'aritmética', 'razonamiento verbal', 'geometría']

CLASE 2

In [11]:
print(lugares)

['Florencia', 'Roma', 'Huaraz', 'Cusco', 'Buenos Aires']

In [12]:
ele_=lugares.pop()
print(ele_)

Buenos Aires

In [13]:
lugares.remove("Roma")
print(lugares)

['Florencia', 'Huaraz', 'Cusco']

In [14]:
marcas1 = ['Yeti','Santa Cruz','Pivot','Commencal','Ibis']
marcas1.remove("Pivot")
print(marcas1)

['Yeti', 'Santa Cruz', 'Commencal', 'Ibis']

In [22]:
stem = ['science','tecnology','engineering','maths']
print(f"La lista original stem es: \n{stem}")
stem.sort()
print((f"La lista ordenada stem es: \n{stem}"))

La lista original stem es:
['science', 'tecnology', 'engineering', 'maths']
La lista ordenada stem es:
['engineering', 'maths', 'science', 'tecnology']

In [23]:
paises = ["China", "India","Perú", "Chile", "Colombia", "Venezuela"]
print(f"La lista de paises es: \n{paises}")

La lista de paises es:
['China', 'India', 'Perú', 'Chile', 'Colombia', 'Venezuela']

Sorted ordena de manera temporal

In [25]:
print(f"La lista ordenada de manera descendente de paises es: \n{sorted(paises, reverse=True)}")

La lista ordenada de manera descendente de paises es:
['Venezuela', 'Perú', 'India', 'Colombia', 'China', 'Chile']

In [26]:
print(paises)

['China', 'India', 'Perú', 'Chile', 'Colombia', 'Venezuela']

In [42]:
conteo = 1
productos = ["Galletas", "Agua", "Fideos", "Tomates"]
print(f"Mi lista de compra habitual en el supermercado es: \n")
for i in productos:
  print(f"Producto{conteo}", i)
  conteo = conteo + 1

Mi lista de compra habitual en el supermercado es:

Producto1 Galletas
Producto2 Agua
Producto3 Fideos
Producto4 Tomates

In [46]:
conteo = 1
paises = ["Noruega", "Nepal", "Egipto", "Japón"]
print(f"Mi lista de paises por conocer es: \n")
for i in paises:
  print(f"Pais{conteo}", i)
  conteo = conteo + 1
print("\nEstos paises se caracterizan por tener buenos paisajes")

Mi lista de paises por conocer es:

Pais1 Noruega
Pais2 Nepal
Pais3 Egipto
Pais4 Japón

Estos paises se caracterizan por tener buenos paisajes

In [47]:
correlativos = list(range(10, 21))
for i in correlativos:
  print(i)

10
11
12
13
14
15
16
17
18
19
20

In [51]:
pares = list(range(2,11,2))
cuadrados = []
for i in pares:
  cuadrado = i**2
  cuadrados.append(cuadrado)
print(f"La lista pares contiene los elementos: \n{pares}")
print(f"La lista cuadrados contiene los elementos \n{cuadrados}")
print(f"El promedio de los valores de la lista cuadrados es: {sum(cuadrados)/len(cuadrados)}")

La lista pares contiene los elementos:
[2, 4, 6, 8, 10]
La lista cuadrados contiene los elementos
[4, 16, 36, 64, 100]
El promedio de los valores de la lista cuadrados es: 44.0

In [52]:
correlativosn =[]
for i in correlativos:
  suma = i + 5
  correlativosn.append(suma)
print(correlativosn)

[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [53]:
##con comprension
correlativosn_2 = [i+5 for i in correlativos]
print(f"la lista correlativosn es: \n{correlativosn_2}")

la lista correlativosn es:
[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]