<a href="https://colab.research.google.com/github/hubblej28/curso_python_utec/blob/main/Laboratorios/Mod2_Clase1_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[1] Ejemplos de resultados en Python (listas)

In [ ]:
[1.1]

import libreria ##Despues de la palabra import viene una libreria
libreria.funcion ##Despues de una libreria viene una funcion

In [1]:
import re

In [2]:
texto = "Mi correo personal es juan.diazv2810@gmail.com y mi correo corporativo es jdv@bilingualglobal.com"
print(texto)

Mi correo personal es juan.diazv2810@gmail.com y mi correo corporativo es jdv@bilingualglobal.com

In [4]:
correos = re.findall(r'\S+@\S+',texto)
print(correos)
type(correos)

['juan.diazv2810@gmail.com', 'jdv@bilingualglobal.com']

list

[1.2] Usos de listas

In [5]:
import sys
sys.path

['/content',
 '/env/python',
 '/usr/lib/python312.zip',
 '/usr/lib/python3.12',
 '/usr/lib/python3.12/lib-dynload',
 '',
 '/usr/local/lib/python3.12/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.12/dist-packages/IPython/extensions',
 '/root/.ipython']

[1.3] Dataframes

In [6]:
import pandas as pd
df = pd.read_csv("/content/clientes.csv", sep = ";")
print(df)

    ID  EDAD  INGRESOS RIESGO  LINEA_TC
0  123    36      1348      A     49924
1  234    52      9479      A     28454
2  345    60      7511      B     14250
3  456    40      7992      C     32064
4  567    58      2675      C      1485
5  678    47      7086      D     29157
6  789    31      4704      E     14945
7  999    42      6245      E      8798

In [7]:
variables = df.columns.to_list()
variables

['ID', 'EDAD', 'INGRESOS', 'RIESGO', 'LINEA_TC']

Actividad N001

In [8]:
lugares = ['Florencia', 'Roma', 'Huaraz', 'Cusco', 'Buenos Aires']
print(f"Mis lugares favoritos para vacacionar son \n{lugares}")

Mis lugares favoritos para vacacionar son
['Florencia', 'Roma', 'Huaraz', 'Cusco', 'Buenos Aires']

In [ ]:
## Una lista homogenea es la que tiene todos sus elementos con el mismo tipo.

Actividad N002

In [43]:
nombre = 'Juan'
apellido_paterno = 'Díaz'
profesion = "Ingeniero Civil"
edad = 28
centro_laboral = "Bilingual"
años_experiencia = 3

info_personal = [nombre, apellido_paterno, profesion, edad, centro_laboral, años_experiencia]
print(f"Mi lista de información personal es: \n{info_personal}")
type(info_personal)

Mi lista de información personal es:
['Juan', 'Díaz', 'Ingeniero Civil', 28, 'Bilingual', 3]

list

In [14]:
materias = ['álgebra', 'aritmética', 'razonamiento verbal', 'trigonometría', 'geometría']
materias[3]

'trigonometría'

In [15]:
lugares[3]

'Cusco'

Actividad N003

In [17]:
print(f"De mis cinco lugares favoritos el que ocupa el puesto 3 es {lugares[2]}")

De mis cinco lugares favoritos el que ocupa el puesto 3 es Huaraz

In [22]:
print(f"De mis cinco lugares favoritos el que ocupa el puesto 5 es {lugares[-1].upper()}")

De mis cinco lugares favoritos el que ocupa el puesto 5 es BUENOS AIRES

In [19]:
type(lugares[-1])

str

Actividad N004

In [28]:
print(f"Hola, me llamo {info_personal[0]} {info_personal[1]} soy {info_personal[2]}, tengo {info_personal[3]} años, trabajo en la empresa {info_personal[4]} y tengo {info_personal[5]} años de experiencia profesional.")

Hola, me llamo Juan Díaz soy Ingeniero Civil, tengo 28 años, trabajo en la empresa Bilingual y tengo 3 años de experiencia profesional.

Actividad N005

In [31]:
marcas = ['Yeti','Santa Cruz','Pivot','Commencal','Ibis']
print(f"La lista marcas es: \n{marcas}")
print(f"El ultimo elemento de la lista marcas es: \n{marcas[-1]}")
marcas.append('Devinci')
print(f"La nueva lista marcas es: \n{marcas}")

La lista marcas es:
['Yeti', 'Santa Cruz', 'Pivot', 'Commencal', 'Ibis']
El ultimo elemento de la lista marcas es:
Ibis
La nueva lista marcas es:
['Yeti', 'Santa Cruz', 'Pivot', 'Commencal', 'Ibis', 'Devinci']

In [34]:
marcas = []
for i in range(5):
  ingreso_marcas = str(input(f"Ingrese la marca # {i+1}: "))
  marcas.append(ingreso_marcas)
print(marcas)
marcas[-2] = ""

Ingrese la marca # 1: aaaa
Ingrese la marca # 2: bbbb
Ingrese la marca # 3: cccc
Ingrese la marca # 4: dddd
Ingrese la marca # 5: eeee
['aaaa', 'bbbb', 'cccc', 'dddd', 'eeee']

Actividad N006

In [44]:
print(f"Mi lista de información personal es: \n{info_personal}")
info_personal[4] = "Yeti Cycles"
print(f"Mi lista actualizada de información personal es: \n{info_personal}")

Mi lista de información personal es:
['Juan', 'Díaz', 'Ingeniero Civil', 28, 'Bilingual', 3]
Mi lista actualizada de información personal es:
['Juan', 'Díaz', 'Ingeniero Civil', 28, 'Yeti Cycles', 3]

Actividad N008

In [46]:
## método .insert()

info_personal.insert(3,"Universidad Ricardo Palma")
print(info_personal)
print(f"Hola, me llamo {info_personal[0]} {info_personal[1]} soy {info_personal[2]}, estudie en la {info_personal[3]}, tengo {info_personal[4]} años, trabajo en la empresa {info_personal[5]} y tengo {info_personal[6]} años de experiencia profesional.")

['Juan', 'Díaz', 'Ingeniero Civil', 'Universidad Ricardo Palma', 28, 'Yeti Cycles', 3]
Hola, me llamo Juan Díaz soy Ingeniero Civil, estudie en la Universidad Ricardo Palma, tengo 28 años, trabajo en la empresa Yeti Cycles y tengo 3 años de experiencia profesional.

In [47]:
del materias[3]
print (materias)

['álgebra', 'aritmética', 'razonamiento verbal', 'geometría']